---
layout: page-layout.njk
title: justGoscha — About Me
css: /style/about.css
---

<section class="me">
    <div class="quote">
            Hey, I'm Goscha.

            My passion is 
            creating delightful animations 
            with new creative       
            tools! 
    </div>
</section>

<section class="services">
    <p>
        <b>
            I am a Berlin-based traditional & VR animator, illustrator, and motion designer with an enthusiasm for new technologies and programming,
        </b>   
        which comes from spending the first 10 years of my career as a developer & designer and among other things helping to build <a href="forto.com">a unicorn startup</a> from the ground up as their first full-time engineer and designer; and seeing it grow to over 500 employees over 4 years.
    </p>
    <p>
        In 2020 I decided to pursue my ambitions in a creative field and do what I always dreamed of doing. Over the past 3 years, I have been fortunate to work with amazing clients on creatively challenging projects involving short films, animated illustrations, product trailers, explainers, and more.
    </p>
    <p>
        I enjoy and embrace <b>utilizing the newest tools like VR, AI, or coding</b> to achieve the results I am looking for and improve my own way to work. I have made great experiences using <a href="https://quill.art">Quill</a> and <a href="https://blender.org">Blender</a> to create some of my latest 3D animations in VR.
    
        Ultimately, <b>I want to create delightful experiences, whether it is an illustration, an animation or an immersive experience!</b>
    </p>
    <p>
        At the same time, I love the artistry behind 2D frame-by-frame animation and enjoy working on projects involving it. There is just something magical that comes from bringing something to life by single-handedly drawing every frame. It is tedious work, and yet it has a meditative aspect to it.
    </p>
    <p>
        I would love to work with you on projects involving any of those things:
    </p>
    <ul>
        <li>2D & 3D animation</li>
        <li>Immersive experiences</li>
        <li>VR/AR/XR experiences</li>
        <li>Web Animation (execution and consulting)</li>
        <li>Animated Illustrations</li>
        <li>Music Videos</li>
        <li>Product Trailers</li>
        <li>...or just some funny GIFs 😉</li>
    </ul>
    <p>
        Sharing my experiences and teaching the next generation of animators & creatives brings me joy as well. That's why I <a href="/writing">write</a>, <a href="https://youtube.com/justgoscha">produce videos</a>, and <a href="https://justgoscha.gumroad.com">tools to improve animators' workflows</a>. 
    </p>
    <p>
        You can drop me a line via my email below. If you are visiting Berlin I am always open to grabbing a coffee or ice cream, discussing creative ambitions, life, and sharing experiences.
    </p>

</section>