---
layout: page-layout.njk
title: justGoscha — About Me
css: /style/about.css
---

<section class="me">
    <div class="quote">
            Hey, I'm Goscha.

            My passion is 
            creating delightful experiences 
            with new creative       
            tools! 
    </div>
</section>

<section class="services">
    <p>
        <b>
            I am a Berlin-based traditional & VR animator, illustrator, and motion designer with an enthusiasm for new technologies and programming,
        </b>   
        which comes from spending the first 10 years of my career as a developer & designer and among other things helping to build <a href="https://forto.com">a unicorn startup</a> from the ground up as their first full-time engineer and designer; and seeing it grow to over 500 employees over 4 years.
    </p>
    <p>
        In 2020 I decided to pursue my ambitions in a creative field and do what I always dreamed of doing - animation. Over the past 3 years, I have been fortunate to work with amazing clients on creatively challenging projects involving short films, animated illustrations, product trailers, explainers, and VR content.
    </p>
    <p>
        I enjoy and embrace <b>utilizing the newest tools like VR, AI, or coding</b> to achieve exciting results. I have made great experiences using <a href="https://quill.art">Quill</a>, Unreal Engine, Unity, and <a href="https://blender.org">Blender</a> to create some of my latest 3D animations in VR.
    
        Ultimately, <b>I want to create delightful experiences, whether it is in the form of linear media, an app, or an immersive experience!</b>
    </p>
    <p>
        At the same time, I love the artistry behind 2D frame-by-frame animation. There is just something magical that comes from bringing something to life by single-handedly drawing every frame. It is tedious work, and yet it has a meditative aspect to it. I am trying to spark the same joy in others, that's why I created the <a href="30dayanimator.com">#30DayAnimator course</a>.
    </p>
    <p>
        I would love to work with you on projects involving the following things:
    </p>
    <ul>
        <li>VR/AR/XR and Immersive experiences</li>
        <li>2D & 3D animation</li>
        <li>Web Animation (execution and consulting), and Animated Illustrations</li>
        <li>Product Trailers</li>
        <li>...or other creative endeavors</li>
    </ul>
    <p>
        If you would like to know more about me, I also <a href="/writing">write</a>, <a href="https://youtube.com/justgoscha">produce videos</a>, and <a href="https://justgoscha.gumroad.com">create tools to improve animators' workflows</a>.
    </p>
    <p>
        You can drop me a line via my email below. If you are visiting Berlin I am always open to grabbing a coffee or ice cream, discussing creative ambitions, life, and sharing experiences.
    </p>

</section>