---
layout: page-layout.njk
title: justGoscha — About Me
css: /style/about.css
---

<section class="me">
    <div class="quote">
        Hey, I'm Goscha. My passion is solving hard problems with the newest tools!
    </div>
</section>
<section class="services">
    <p>
        <b>
            I am a Berlin-based Foundational Product Engineer with a passion for new technologies, programming, UX, and solving the
            right problems with AI.
        </b>
        I spent over 15 years in the tech industry in a variety of roles as an engineer, designer, and leader.
    </p>
    <p>
        Among other things I helped build and shape
        <a href="https://forto.com">a unicorn startup</a>
        from the ground up as their <b>founding engineer, tech lead</b> and later <b>spearheading the design department</b>, overall contributing
        to its growth to over 500 employees, and $2 Billion valuation.
    </p>
    <p>
        At <a href="https://joindeed.com">Deed</a>, as an Engineering Team Lead, I was responsible for the Customer Experience Team. There I had the chance to work with some of the biggest companies like <b>Walmart, Airbnb and ServiceNow</b> and help them be more successful in their social responsibility efforts. Internally I was <b>leading the adoption of AI coding tools across the company</b>.
    </p>
    <p>
        But I'm not only a technical leader, I'm also a people person. 
        I also enjoy and excel at hiring, building, educating, and leading high-performing and happy teams, <b>fostering a culture of innovation and collaboration</b>, on top of a foundation of <b>psychological safety</b>.
        I love leading workshops, to discover and analyze problems, and finding the right solutions by utilizing methods of Design Thinking philosophies.
    </p>
    <p>
        Apart from my daily work, I enjoy building a variety of digital products, tools, and experiment with the newest technologies like AI (LLMs, GenAI, Audio Enhancement, TTS and STT models, etc.), XR, and creative tools. Usually led by my curiosity to either create something or solve a problem.
    </p>
    <p>
        In 2020 I decided to pursue my ambitions in a creative field and do what I always dreamed of doing - animation. Over 3 years, I have been fortunate to work with amazing clients on creatively challenging projects involving short
        films, animated illustrations, product trailers, explainers, and VR content.
    </p>
    <p>
        If you would like to know more about me, I also
        <a href="/writing">write</a>,
        <a href="https://youtube.com/justgoscha">produce videos</a>, and
        <a href="https://justgoscha.gumroad.com">create tools to improve animators' workflows</a>.
    </p>
    <p>
        You can drop me a line via my email below. If you are visiting Berlin I am always open to grabbing a coffee or ice
        cream, discussing creative ambitions, life, and sharing experiences.
    </p>
</section>