---
layout: page-layout.njk
title: justGoscha — Animation Showree
css: /style/showreel.css
---

<h1>Animation Showreel 2020</h1>
<section class="showreel">
    <iframe src="https://player.vimeo.com/video/475479296" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>
</section>
<section class="services">
    <p>
        I was fortunate to work in the past 2 years with amazing clients on creatively challenging projects involving short films, content for their social media channels, explainers, and other promotional materials.
    </p>
    <p>
        All animation in the showreel was exclusively done by me. There were 2 shots where the design was based on a provided illustration: 00:20 the whirling Sufi and 00:34 the airplane and UFO flying over the desert.
    </p>
    <h2>About me</h2>
    <p>
        I am a Berlin-based animator, illustrator, and motion designer.
        <b>My strong suit is handcrafted 2D animation</b>
        that I draw frame-by-frame. I love to experiment with combining 3D and 2D techniques, to achieve unique effects, like the glass shattering in the car crash scene.
    </p>
    <p>My full range of services includes:</p>
    <ul>
        <li>2D Animation</li>
        <li>Illustration</li>
        <li>Motion Design</li>
        <li>Sound Design</li>
        <li>Storyboarding</li>
    </ul>
    <p>I would be delighted to help your team out with a project. Or tell the whole story with you — from start to finish!</p>
</section>