---
layout: page-layout.njk
title: justGoscha — Portfolio & Work
css: /style/work.css
---



<div class="intro">
    <h1>My Work</h1>
    <p>Here is a collection of my past work and projects.</p>
</div>

<section class="cv">
    <h2>Curriculum Vitae</h2>
    <section class="work-table">
        {% for work in projects.work %}
        <div class="work-item">
            <header>
                <img class="work-img" src="{{ work.static_image }}" alt="{{ work.title }}">
                <div class="general-info">
                    <h3 class="company-title">{{ work.company }}</h3>
                    <div class="position-title">{{ work.position }}</div>
                    <div class="date">{{ work.from.slice(0,7) }} - {{ work.to.slice(0,7) }}</div>
                </div>
            </header>

            <div class="additional-content">
                <div class="interactive">
                    <div class="description">
                        {{ work.description | markdown | safe }}
                    </div>
                    <div class="achievements">
                        <h5>Notable Achievements</h5>
                            {% for a in work.achievements %}
                            <div class="achievement">
                                <div class="star">{{a.emoji}}</div>
                                <div class="achievement-text">{{ a.text }}</div>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</section>  


<div class="motion-design">
    <h2>Motion Design Work</h2>
    <p>I'm still proud of my time as an animator and motion designer, so here's a selection of work I did during that time.</p>
</div>

<section class="showreel">
    <iframe src="https://player.vimeo.com/video/713605621" width="640" height="360" frameborder="0"
    allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>
</section>


<section class="work">
    <h2>Animation and Motion Design Work</h2>

    <section class="project-grid">
        {% for project in projects.projects %}
        <div class="project">
            <img class="project-img" src="{{ project.static_image }}" alt="{{ project.title }}">
            <header>
                <h3 class="project-title">{{ project.title }}</h3>
                <div class="date">{{ project.date }}</div>
            </header>

            <div class="additional-content">
                <div class="interactive">
                    <div class="img-hover">
                        <img class="project-img" src="{{ project.animated_image }}" alt="{{ project.title }}">
                    </div>
                    <header>
                        <h3 class="project-title">{{ project.title }}</h3>
                        <div class="date">{{ project.date }}</div>
                    </header>

                    <div class="description">
                        {{ project.description | markdown | safe }}
                    </div>
                    <div class="tags">
                        {% for tag in project.tags %}
                        <div class="tag {{ tag }}">{{ projects.tagMapping[tag] or tag }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</section>