@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


html {
  background: url("/img/about-me.jpg") no-repeat top center;
  background-size: contain;
  background-color: #15023a;
}



.me {
  margin: calc(22vw - 144px) 0 17vw 10vw;
  font-weight: 500;
  font-style: normal;
  font-family: "Yeseva One", sans-serif;
  font-size: 2.5vw;
  line-height: 1.2em;
  width:42vw;
  text-shadow: #15023a 3px 2px 12px;
}

.quote {
  display: inline;
  position: relative;
}

.quote::before{
  content: "“";
  border: none;
  display: inline-block;
  position: absolute;
  font-size: 8em;
  left: -.3em;
  top: .22em;
  opacity: .3;
  pointer-events: none;
}

.services {
  margin: auto;
  padding: 1em;
  max-width: 800px;
}

p {
  margin-bottom: 1em;
  line-height: 1.4;
}

b {
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}


/* ------------- MOBILE LAST -------------- */

@media only screen and (max-width: 600px) {
  html {
    background: none;
    background-color: #15023a;
  }

  
  .me {
    background: url("/img/about-me.jpg") no-repeat top center;
    background-size: cover;

    z-index: -1;
    display: block;
    font-size: 1.2rem;
    padding: 300px 2rem 1rem 2rem;
    width: auto;
    margin: -100px 0 150px;
  }

  .quote {
    top: 160px;
    display: block;
    position: relative;
  }
  
  .quote::before{
    content: "“";
    border: none;
    display: inline-block;
    position: absolute;
    font-size: 8.4em;
    left: -.1em;
    top: .1em;
    opacity: .25;
  }
}

