html{
    text-align: center;
    color: #fff;
    background-color: #fff;
}

#header-nav {
    z-index: 2;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 4vmin;
}

#video {
    background-color: rgb(55,133,224);
    position: absolute;
    top: 2vmin;
    bottom: 2vmin;
    left: 2vmin;
    right: 2vmin;
    z-index: 0;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#content {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8vh;
    z-index: 1;
    background-color: rgba(10,0,20,0.12);    
}

h1 {
    text-transform: uppercase;
    font-variant: small-caps;
    font-size: 5vmax;
    font-weight: 400;
    letter-spacing: .25em;
    color: var(--secondary-text-light);
    margin-bottom: 2vmax;
}

#logo {
    display: inline-block;
    vertical-align: text-top;
    width: 10vmax;
}

#seperator {
    display: inline-block;
    position: relative;
    height: 60%;
    top: 20%;

    opacity: 40%;
    border-radius: 2px;
    width: 2px;
    background-color: var(--hint-text-light);
    margin: 0 2vw;
}

h2 {
    text-transform: uppercase;
    font-size: 1.9vmax;
    letter-spacing: .05em;
    padding: 0 2vw;
    font-weight: 400;
    color: var(--secondary-text-light);
}

.code {
    font-size: .9em;
    color: var(--secondary-text-light);
    font-weight: 400;
    font-family: Menlo, Monaco, Fira, Fixedsys, monospace;
}

.blinking {
    animation: .8s ease-in-out .5s infinite alternate blinking;
}

.reel {
    justify-self: start;
}
.reel a{
    font-size: 1.8vmax;
    display: inline-block;
    margin-top: 3em;
    padding: .3em .5em;
    text-transform: uppercase;
    color: var(--secondary-text-light);
    font-weight: 400;
    border-radius: .2em;
    border: 2px solid var(--secondary-text-light);
    letter-spacing: .1em;
    transition: 10s letter-spacing cubic-bezier(0.18, 0.89, 0.25, 1),
                1s transform cubic-bezier(0.18, 0.89, 0.25, 1);
}
.reel a:hover {
    letter-spacing: .25em;
    transform: scale(1.1);
    color: var(--primary-text-light);
    border: 2px solid var(--primary-text-light);
}

/* CONTACT section */

#contact {
    position: absolute;
    bottom: 0;
}


@keyframes blinking {
    0% { opacity: 1; }
    30% {opacity: 1; }
    70%   { opacity: 0; }
    100%   { opacity: 0; }
  }

@media only screen and (max-width: 600px) {
    
    #header-nav {
        position: absolute;
        height: 64px;
        overflow: auto;
        font-size: 4vw;
        width: 100%;
        top:0;
        justify-content: center;
    }
    
      #header-nav > div {
        margin: 0 0 0 1.5em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }

    #logo {
        display: none;
    }

    #seperator {
        display: none;
    }

    h1 {
        font-size: 8vmin;
        font-weight: 500;
    }

    section#content {
        position: absolute;
        top:0;
    }

}


