.showreel {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 1em;
}
.intro{
    text-align: center;
}

.intro p {
    color: var(--secondary-text-light);
    font-size: 0.816em;
}

.motion-design {
    padding: 2em 2em 0 2em;
    text-align: center;
}

p {
    margin: 1em 0;
}

.work>h2 {
    text-align: center;
    padding-top: 1em;
    margin: 1.5em 0 1em;
}

.work {
    color: var(--primary-text);
    background-color: var(--grey-200);
}

.cv>h2{
    text-align: center;
    padding-top: 1em;
    margin: 1.5em 0 1em;
}

.cv {
    color: var(--primary-text);
    background-color: var(--grey-200);
    padding-bottom: 3em;
}

.work-table {
    margin: auto;
    width: 80vw;

    max-width: 1280px;
    min-width: 960px;
}

.work-item {
    
    margin-bottom: 1em;
    display: flex;
    align-items: flex-start;
    background-color: var(--grey-100);
}
.work-item .additional-content {
    display: block;
    background: linear-gradient(180deg, var(--grey-100) 20%, rgba(205, 235, 209, 0.5) 100%);
    height: 100%;
    color: var(--primary-text);
    border-left: 1px solid var(--seperator-color);
    padding: 0 var(--spacing-2x);
}

.general-info {
    padding: var(--spacing) var(--spacing) 0 var(--spacing);
}
.work-item header {
    width: 300px;
    flex-shrink: 0;
}

.work-item .date {
    font-size: .8em;
    font-weight: 400;
    color: var(--hint-text);
}


.work-img {
    display: block;
    object-fit: cover;
    flex-shrink: 0;
    width: 100%;
}

.position-title {
    font-size: 0.875em;
    font-weight: 400;
    color: var(--secondary-text);
}

.achievements h5 {
    font-weight: 500;
    margin-bottom: 0.5em;
}

.achievement {
    position: relative;
    overflow: visible;
}
.achievement .star {
    font-size: 1.5em;
}
.achievement {
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;
    font-size: 0.875em;
    font-weight: 400;
    color: var(--primary-text);
    padding: 1em;
    /* left: 1em;
    margin-right: 1em; */
    background: rgba(255,255,255,0.2);
    /* linear-gradient(120deg, rgba(221, 255, 221, 0.5) 0%, rgba(191, 255, 209, 0.7) 100%); */
    margin-bottom: 1em;
    border-radius: 10px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.1);
}

.project-grid {
    margin: auto;
    width: 80vw;
    max-width: 1280px;
    min-width: 960px;
    
    
    padding-bottom: 3em; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vw 1.5vw;
}

.project{
    position: relative;
}

.project header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .84em;
    margin-top: .5em;
}

.project header .seperator {
    flex-grow: 2;
    height: 2px;
    margin: 0 .5em;
    align-self: center;
    background-color: var(--seperator-color);
    color:  var(--seperator-color);
}

.project-title {
    font-weight: 500;
    color: var(--secondary-text);
}

.project .date {
    font-size: .84em;
    font-weight: 400;
    color: var(--hint-text);
}


.project .additional-content{
    margin: 0;
    padding: 0;

    display: block;
    position: absolute;
    pointer-events: none;

    top:0;
    opacity: 0;
}



.project:hover .additional-content{
    margin: -2em;
    padding: 2em;
    opacity: 1;
    overflow: hidden;
    pointer-events: initial;
    
    backdrop-filter: blur(15px);
    
    z-index: 1;
    color: var(--primary-text);
    background-color: #ffffffcc;
    box-shadow: 0px 2px 2px 0 rgba(0,12,30,.1),
                0px 4px 4px -2px rgba(0,12,30,.1),
                0px 8px 8px -4px rgba(0,12,30,.1),

                0px 16px 16px -8px rgba(0,12,30,.1),
                0px 32px 32px -16px rgba(0,12,30,.1),
                0px 48px 48px -24px rgba(0,12,30,.1),

                0px 64px 64px -32px rgba(0,12,30,.1),
                0px 128px 128px -64px rgba(0,12,30,.1);

    transition: opacity .1s, 
                margin .3s,
                padding .3s;
}

.project:hover .additional-content .interactive {
    pointer-events: initial;
}

.project:hover .additional-content header{
    transform: translateY(0em);

}

.project .additional-content header{
    margin: 1em 0 1em 0;
    transform: translateY(-.5em);
    transition: transform .3s;
}

.project .description{
    margin: 1em 0 1em;
    font-size: .875em;
    font-weight: 300;
    line-height: 1.2em;
    opacity: 0;
    
    transform: translateY(100px);
    transition: opacity .3s ease-out .2s,
                transform .5s cubic-bezier(.17,.84,.44,1) 0s;
}

.additional-content a{
    font-weight: 400;
    font-size: .875em;
    border-bottom: 1px solid;
    color: var(--link-color);
}
.additional-content a:hover{
    color: var(--link-hover);
}

.additional-content a::before {
    content: "\2197";
    border: none;
    padding-right: .2em;
    /* display: inline-block;
    position: absolute;
    left: -1.2em; */
}

.project .img-hover img {
    width: 100%;
}

.project:hover .description{
    transform: translateX(0px);
    opacity: 1;
}

.project .tag{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity .2s ease-out .12s,
                transform .5s cubic-bezier(.17,.84,.44,1) 0.1s;
}

.project:hover .tag{
    opacity: 1;
    transform: translateY(0px);
}


.tag{
    color: var(--primary-text-light);
    font-size: 0.75em;
    font-weight: 400;
    display: inline-block;
    background-color: #ddd;
    text-transform: uppercase;
    padding: 0 .5em;
    border-radius: 30px;
}

.tag.d2 {
    background-color: var(--chip-1);
}
.tag.d3 {
    background-color: var(--chip-2);
}

.tag.illustration {
    background-color: var(--chip-3);
}

.tag.motion-design {
    background-color: var(--chip-4);
}

.tag.ui-ux {
    background-color: var(--chip-5);
}


.tag.sound-design {
    background-color: var(--chip-6);
}
.tag.vr {
    background-color: var(--chip-7);
}
.tag.product {
    background-color: var(--chip-8);
}


/* ------------- MOBILE LAST -------------- */

@media only screen and (max-width: 960px) {
    .project-grid {
        font-size: .825em;
    }
    .project-grid {
        display:grid;
        width: 90vw;
        max-width: 480px;
        min-width: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 32px 32px;
    }
    
    .project:hover .additional-content{
        margin: -5vw;
        padding: 5vw;
    }      
    
    .work-table {
        width: 90vw;
        max-width: 560px;
        min-width: 0;
    }

    .work-item {
        flex-direction: column;
    }

    .work-item header {
        width: 100%;
    }

    .work-item .additional-content {
        padding: var(--spacing);
    }

    .work-img {
        width: 90vw;
        height: 40vw;
        max-height: 300px;
        max-width: 100%;
    }
}

